{% extends "_base.twig" %}

{% block content %}

<article class="container">
    <br>
    <div class="d-flex headerToolbar">
        <div><a href="{{ function('get_category_link', catprms.cat_ID) }}" class="btn btn-light"><i class="fa fa-chevron-left"></i>&nbsp; {{ i18n["single.btn.return_text"] }}</a></div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 contentPost">
            <h1 class="fw-bold"> {{ post.title }} </h1>
            
            {% include inc_content.tpl_top ignore missing with {data: inc_content.data_top} %}
            
            {{ post.post_content|wpautop }}
            
            <div class="d-flex justify-content-end align-items-center shareBox">
                <b>{{ i18n["generic.text.share"] }}:</b>
                <div><a href="http://www.facebook.com/share.php?u={{ post.link }}" target="_blank" class="icn-fb"></a></div>
                <div><a href="http://twitter.com/home?status=+{{ post.link }}" target="_blank" class="icn-tw"></a></div>
                <div><a href="whatsapp://send?text={{ post.link }}" data-action="share/whatsapp/share" class="icn-wa"></a></div>
            </div>
            
            {% include inc_content.tpl_bottom ignore missing with {data: inc_content.data_bottom} %}
        </div>

        <div class="col-12 col-lg-4">
        {% include "tpl-aside.twig" %}
        </div>
    </div>
</article>

{% endblock %}