{% if view == 'unlock_per_password' %} <!-- Vista : Desbloqueo por clave -->
<div class="col-12 paymentProductBox">
    <p class="h5 fw-bold text-left">{{ i18n["aside.protected_content_title"] }}</p>
    <p class="h8 text-left">{{ i18n["aside.instructions"] }}</p>
    <form action="{{ p.link }}" method="post" class="d-block">
        <div class="input-group">
            <input type="password" name="password_product" class="form-control" placeholder="{{ i18n['aside.input_placeholder'] }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">{{ i18n["aside.btn_send"] }}</button>
            </div>
        </div>
    </form>
        {% if pass_fail %}
        <p class="text-danger fw-bold text-left h7">{{ i18n["aside.protected_content.fail_password"] }}</p>
        {% endif %}
    <br>
</div>

{% elseif view == 'view_buy_for_users' %} <!-- Vista : Comprar para usuarios registrados -->
<div class="col-12 paymentProductBox" tabs>
    <nav>
        <span>Pagar con:</span>
        <button>Paypal</button>
        <button>Transferencia o depósito</button>
    </nav>
    <div tab-display>
        <p class="h5 fw-bold">{{ headerTitle is empty ? i18n["aside.buy_product.title"] : headerTitle }}</p>
        <p class="h1 fw-bold" format-currency px-cents="-15">
            <span>$</span>{{ priceProduct is empty ? '0.00' : priceProduct }}
        </p>
        {% if function('is_user_logged_in') %}
        <form action="{{ paypal.service_uri }}" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="{{ paypalID }}">
            <input type="hidden" name="custom" value='{"id_user":"{{current_user.ID}}", "id_product":"{{p.ID}}", "name_product":"{{p.title}}", "go_page":"{{wp.request}}", "wp_user_email": "{{ current_user.user_email }}" }'>
            <button type="submit" class="btn btn-exodus"><i class="fa fa-shopping-cart" style="position:relative;top:-1px;"></i> 
            {{ textButton is empty ? i18n["aside.buy_product.text1"] : textButton }}</button>
        </form>
        <p class="h8 leyendPaypal">{{ i18n["aside.buy_product.text2"] }} <i class="fa fa-paypal"></i> {{ i18n["aside.buy_product.text3"] }}</p>

        {% else %}
        <a href="{{ function('wp_login_url', wp.request) }}" class="btn btn-exodus">{{ i18n["aside.buy_product.access_account"] }}</a>
        <p class="h8 leyendPaypal">{{ i18n["aside.buy_product.leyend_no_users"] }}</p>
        {% endif %}
    </div>
    
    <div tab-display class="text-justify h7">
        {% if function('is_user_logged_in') %}
            {% set getIdPageContact = function('get_page_by_path', 'contacto') %}
            {% set contactInfo = function('get_field', 'info_transfer_cash', getIdPageContact) %}
        
        <p class="h4 fw-bold text-left">Bancos y cuentas:</p>
        <p class="h6">{{ contactInfo.info_bank_account }}</p>
        <p class="h4 fw-bold">Instrucciones:</p>
        
        <p>&bull; Usa las cuentas proporcionadas para depositar la cantidad exacta del costo del producto que es por <b class="h5 fw-bold">${{ priceProduct is empty ? '0.00' : priceProduct }}</b> pesos mxn.</p>
        <p>&bull; Manda un mensaje de Whatsapp a este número <b class="h5 fw-bold">55-6020-6053</b> adjuntando una foto legible o captura de pantalla de tu comprobante de pago.</p>
        <p>&bull; </p>
        <p>&bull; Enseguida escribe tu nombre completo y dirección.</p>
        <p>&bull; Escribe, toma una foto o una impresión de pantalla del texto que está en el recuadro y envíalo.</p>
        <p class="h6" style="border: 1px solid gray; padding:5px 10px;">
            <b>Nombre de usuario:</b> {{ current_user.user_nicename }}<br>
            <b>ID de usuario:</b> {{ current_user.ID }}<br>
            <b>Nombre del producto:</b> {{ p.slug }}<br>
            <b>ID del producto:</b> {{ p.ID }}
        </p>
        <p>&bull; Al enviar toda esta información al número de Whatsapp antes dado, nos pondremos en contacto contigo para darte la atención que te mereces. Gracias.</p>
        {% else %}
        <p class="h6 fw-bold">Para ver el número de cuenta y las instrucciones</p>
        <a href="{{ function('wp_login_url', wp.request) }}" class="btn btn-exodus">{{ i18n["aside.buy_product.access_account"] }}</a>
        {% endif %}
    </div>
    <br>
</div>

{% elseif view == 'form_info_product' %} <!-- Vista : Formulario de sold-out para pedir informes -->
<div class="col-12">
    <p class="h4 fw-bold">{{ i18n['aside.workshops.title_workshopless_form'] }}</p>
    <p class="h8">{{ i18n['aside.workshops.caption_workshopless_form'] }}</p>
    <form method="post" action="{{ function('admin_url', 'admin-post.php') }}">
        <div class="d-block input-group-sm">
            <input class="form-control" name="username" type="text" value="{{ current_user.first_name }}" placeholder="{{ i18n['contactform.placeholder_name'] }}" required>
        </div>
        <br>
        <div class="d-block input-group-sm">
            <input class="form-control" name="email" type="email" value="{{ current_user.user_email }}" placeholder="{{ i18n['contactform.placeholder_email'] }}" required>
        </div>
        <br>
        <div class="d-block input-group-sm">
            <input class="form-control" name="phone" type="text" value="{{ current_user.user_phone }}" placeholder="{{ i18n['contactform.placeholder.phone'] }}">
        </div>
        <br>
        <div class="d-block">
            <textarea class="form-control" name="comment" placeholder="{{ i18n['contactform.placeholder_msg'] }}" rows="2" required></textarea>
        </div>
        <br>
        <div class="d-block text-center">
            <div class="g-recaptcha d-inline-block" data-sitekey="6Ldf9YUUAAAAAMXXIClJajnZSReDn6fsUMppr09m"></div>
        </div>
        <div class="d-block text-center">
            <input type="hidden" name="action" value="process_form">
            <input type="hidden" name="currentPage" value="{{ wp.request }}">
            <input type="hidden" name="whichform" value="{{ p.title }}">
            <button class="btn btn-exodus">{{ i18n["contactform.btn_send"] }}</button>
        </div>
    </form>
    {% if mail_status == "success" %}
    <notify type="success" delay-in="1">{{ i18n['contactform.notify.success'] }}</notify>
    {% elseif mail_status == "error" %}
    <notify type="error" delay-in="1">{{ i18n['contactform.notify.error'] }}</notify>
    {% elseif mail_status == "captcha-error" %}
    <notify type="warning" delay-in="1" delay-out="4">{{ i18n['contactform.notify.warm_captcha'] }}</notify>
    {% endif %}
    <hr>
</div>

{% endif %}