<div class="row">
    <div class="col-12 col-lg-8">
        <div class="cardsBox">
            {% for post in posts %}
            <div class="card-wrap w-12 w-md-6">
                <div class="card">
                    <div class="cHeader">
                        <b>{{ post.title }}</b>
                    </div>
                    <div class="cThumbnail" style="background-image: url( {{ post.thumbnail.src }} )"></div>
                    <div class="cIntro">
                        <p>{{ post.post_excerpt == "" ? post.post_content|excerpt(30) : post.post_excerpt }}</p>
                    </div>
                    <div class="options-box">
                    {% if post.get_field('unlock_by_password') %}
                        <a href="{{ post.link }}" class="btn btn-card-default">{{ i18n["archive.tienda.btn_view_more_details"] }}</a>
                        <span title="{{ i18n['archive.tienda.post_protected_msg'] }}"><i class="fa fa-unlock-alt"></i> {{ i18n["archive.tienda.post_protected"] }}</span>
                        
                    {% else %}
                        {% set productOfUser = function('getProductOfUser', post.ID, products_of_user) %}
                        {% if productOfUser.unlock %}
                            <a href="{{ post.link }}" class="btn-card-default">{{ i18n["archive.tienda.btn_view_more_details"] }}</a>
                            <b class="text-success"><i class="fa fa-check-square-o"></i> {{ i18n["archive.tienda.paid"] }}</b>
                        {% elseif productOfUser.status %}
                            <a href="{{ post.link }}" class="btn-card-default">{{ i18n["archive.tienda.btn_view_more_details"] }}</a>
                            <b class="text-warning"><i class="fa fa-cogs"></i> {{ productOfUser.status }}</b>
                        {% else %}
                            {% if current_user.isLogged %}
                            <!-- formulario paypal -->
                            <form action="{{ paypal.service_uri }}" method="post" target="_top" id="paypalForm{{loop.index}}" style="display: none;">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="{{ post.get_field('paypal_button_id') }}">
                                <input type="hidden" name="custom" value='{"id_user":"{{current_user.ID}}", "id_product":"{{post.ID}}", "name_product":"{{post.title}}", "go_page":"{{wp.request}}", "wp_user_email": "{{ current_user.user_email }}" }'>
                            </form>
                            <!-- fin formulario -->
                            <div class="btn-group">
                                <button class="btn-card-default" type="submit" form="paypalForm{{loop.index}}">
                                    <i class="fa fa-shopping-cart" style="position:relative;top:-1px;"></i> 
                                    {{ i18n["archive.tienda.btn_buy"] }}
                                </button>
                                <a href="{{ post.link }}" class="btn-card-default">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;</a>
                            </div>
                            {% else %}
                            <a href="{{ post.link }}" class="btn-card-default">{{ i18n["archive.tienda.btn_view_more_details"] }}</a>
                            {% endif %}
                            <b class="boxPrice" format-currency>${{ post.get_field("product_price") }}</b>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        {% if payment_notification == "cancel" %}
            <notify delay="1" type="error" mode="fullscreen">{{ i18n["archive.tienda.message_cancel_buy"]|raw }}</notify>
        {% elseif payment_notification == "success" %}
            <notify delay="1" type="success" mode="fullscreen" delay-out="10">{{ i18n["archive.tienda.message_thanks_for_buy"]|raw }}</notify>
        {% endif %}
        
        {% include 'tpl-pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div>
    
    <div class="col-12 col-lg-4">
        {% include 'tpl-aside.twig' %}
    </div>
</div>