{% extends "_base.twig" %}

{% block content %}

<section class="sec pd-x8" id="contacto">
    <div class="overlay"></div>
    <iframe src="{{ post.get_field('iframe_link') }}" class="map" allowfullscreen></iframe>
    <button class="toggleViewMap btn btn-xs btn-exodus" data-text-toggle="{{ i18n['index.contact.view_map'] }}, {{ i18n['index.contact.view_form'] }}"><i class="fa fa-map-marker"></i> <span>{{ i18n["index.contact.view_map"] }}</span></button>
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-7">
                <p class="h2 fw-bold">{{ i18n["index.contact.title"] }}</p>
                <br>
                {{ post.get_field('content_contact')}}
                <br>
            </div>
            
            <div class="col-12 col-sm-5">
                {% include "tpl-contactForm.twig" %}
            </div>
        </div>
    </div>
</section>

{% endblock %}