{% extends "_base.twig" %}

{% block content %}

<header>
    <div class="container">
        <h1>{{ i18n["search.title"] }}:</h1>
        <div>{% include "tpl-search.twig" with {"default_keyword": query_search} %}</div>
    </div>
    <img src="{{ site.theme.link }}/media/assets/header-bg.svg" class="img-fluid">
</header>

<article class="container">
    
    {% if posts|length %}
    <div class="cardsBox">
        {% for thepost in posts %}
        <div class="card-wrap w-12 w-md-6 w-lg-4">
            <div class="card">
                <div class="cHeader">
                    <b>{{ thepost.post_title }}</b>
                    <span>{{ thepost.terms("category") | join(" ") | replace({" ": "&nbsp;"}) }}</span>
                </div>
                <div class="cThumbnail" style="background-image: url( {{ thepost.thumbnail.src }} )"></div>
                <div class="cIntro">
                    <p>{{ thepost.post_content|excerpt(30) }}</p>
                </div>
                <div class="btn-content">
                    <a href="{{ thepost.link }}">{{ i18n["generic.btn.readmore"] }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'tpl-pagination.twig' with { pagination: pagination } %}
    </div>
    {% else %}
    <br>
    <br>
    <p class="h5 text-center">{{ i18n["search.no_search_results"] }}</p>
    <br>
    <br>
    {% endif %}
    
</article>

{% endblock %}