<form method="post" action="{{ function('admin_url', 'admin-post.php') }}">
    <div class="d-block input-group-lg">
        <input class="form-control" name="username" type="text" placeholder="{{ i18n['index.contact.placeholder_name'] }}" required>
    </div>
    <br>
    <div class="d-block input-group-lg">
        <input class="form-control" name="email" type="email" placeholder="{{ i18n['index.contact.placeholder_email'] }}" required>
    </div>
    <br>
    <div class="d-block">
        <textarea class="form-control" name="comment" placeholder="{{ i18n['index.contact.placeholder_msg'] }}" rows="5" required></textarea>
    </div>
    <br>
    <div class="d-block text-center">
        <input type="hidden" name="action" value="process_form">
        <input type="hidden" name="currentPage" value="{{ wp.request }}">
        <button class="btn btn-exodus">{{ i18n["index.contact.btn_send"] }}</button>
    </div>
    
    <br>
    <div class="d-block text-center">
        <div class="g-recaptcha d-inline-block" data-sitekey="6Ldf9YUUAAAAAMXXIClJajnZSReDn6fsUMppr09m"></div>
    </div>
</form>

{% if mail_status == "success" %}
<notify type="success" delay-in="1">Mensaje enviado</notify>
{% elseif mail_status == "error" %}
<notify type="error" delay-in="1">Ocurrio un problema al enviar mensaje.</notify>
{% elseif mail_status == "captcha-error" %}
<notify type="warning" delay-in="1" delay-out="4">Tienes que validar el captcha</notify>
{% endif %}