<aside class="row" id="asidePart">
    
    <!-- Caja de descarga para productos de PAGA -->
    {% if prms.viewDownloadBox and aside_products | length > 0 %}
    <div class="col-12 downloadBox premium">
        <p class="h4 fw-bold">{{ i18n["aside.download_title"] }}:</p>
        
        <div class="content scrollbar-primary">
            {% for mAsset in aside_products %}
                {% if mAsset.type_content %}
                {% set eMedia = mAsset.media_element %}
                <div class="item" collapse-p>
                    <a href="#" class="w-7" btn-collapse-p><b>{{ mAsset.title is empty ? eMedia.title : mAsset.title }} <i class="fa fa-angle-down"></i></b></a>
                    <a href="{{ eMedia.url }}" download="{{ eMedia.filename }}"><i class="fa fa-download"></i> {{ i18n["aside.btn_download_text"] }}</a>
                    <div main-panel class="w-100">
                        <p class="h8">{{ eMedia.description is empty ? i18n["aside.no_description"] : eMedia.description }}</p>
                        {% if eMedia.type == 'audio' %}
                        <audio class="w-100" src="{{ eMedia.url }}" controls></audio>
                        {% elseif eMedia.type == 'video' %}
                        <div class="embed-responsive embed-responsive-16by9">
                            <video class="embed-responsive-item" src="{{ eMedia.url }}" controls></video>
                        </div>
                        {% elseif eMedia.type == 'image' %}
                        <img src="{{ eMedia.url }}" class="img-fluid">
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="item" collapse-p>
                    <a href="#" btn-collapse-p><b>{{ mAsset.title is empty ? i18n["aside.download.title.flat_content"] : mAsset.title }} <i class="fa fa-angle-down"></i></b></a>
                    <div class="w-100" main-panel>
                        {{ mAsset.flat_element }}
                    </div>
                </div>
                
                {% endif %}
            {% endfor %}
        </div>
        <br>
    </div>
    
    {% elseif prms.showPaymentProductBox and not prms.viewDownloadBox %}
        {% include 'tpl-paymentProductBox.twig' with {
            view: post.get_field('unlock_by_password') == 'unlock_per_password' ? 'unlock_per_password' : 'view_buy_for_users',
            priceProduct: post.get_field("product_price"),
            paypalID: post.get_field('paypal_button_id'),
            p: post
            }
        %}
    
    {% endif %}
    
    <!-- Caja venta/preventa de talleres & formulario de SOLD-OUT -->
    {% if prms.viewBuyWorkshop %}
        {% include 'tpl-paymentProductBox.twig' with {
            view: 'view_buy_for_users',
            headerTitle: __(post.get_field('prev_title')),
            textButton: __(post.get_field('text_button')),
            priceProduct: post.get_field("price_workshop"),
            paypalID: post.get_field('paypal_button_id'),
            p: post
            }
        %}
    
    {% elseif prms.viewFormWorkshopless %}
        {% include 'tpl-paymentProductBox.twig' with {
            view: 'form_info_product',
            p: post
            }
        %}
    {% endif %}
    
    <!-- Caja de busqueda -->
    {% if prms.viewSearchBox %}
    <div class="col-12">
        <p class="h4 fw-bold">{{ i18n["aside.search.title"] }}:</p>
        {% include "tpl-search.twig" %}
        <br>
    </div>
    {% endif %}
    
    <!-- Caja para ver los horarios de los talleres -->
    {% if prms.viewScheduleWorkshop %}
    <div class="col-12">
        <p class="h4 fw-bold">{{ i18n["aside.scheduleWorkshop.title"] }}:</p>
        
        {% set schedules = function(['MainClass', 'processWorkshopSchedule'], post.get_field("workshop_schedule")) %}
        <div class="d-block h5">
            <b class="d-block text-pinker">{{ schedules.days }}</b>
            <span class="d-block text-right">{{ schedules.start_workshop }} a {{ schedules.end_workshop }} hrs</span>
        </div>
        <hr>
    </div>
    {% endif %}
    
    <!-- Caja para talleres impartidos ahora -->
    {% if prms.viewCurrentWorkshops and current_workshops | length %}
    <div class="col-12">
        <p class="h4 fw-bold">{{ i18n["aside.workshops.title"] }}:</p>
        
        <div class="owl-carousel owl-theme1 set2" owl="set2">
            {% for post in current_workshops %}
            <div class="card">
                <div class="cHeader">
                    <b>{{ post.title }}</b>
                </div>
                <div class="cThumbnail" style="background-image: url( {{ post.thumbnail.src }} )"></div>
                <div class="cIntro">
                    <p>{{ post.post_excerpt == "" ? post.post_content|excerpt(20) : post.post_excerpt }}</p>
                </div>
                <div class="options-box">
                    <div class="schedule-box">
                        {% for schedule in post.get_field("workshop_schedule") %}
                        <b>-
                            {% for day in schedule.days %}
                            <span title="{{ day }}">{{ (loop.length > 2 ? day | slice(0, 2) : day)|title }}{{ loop.last ? '' : (loop.index + 1 == loop.length ? ' y ' : ', ') }}</span>
                            {% endfor %}
                        </b>
                        <span>{{ schedule.start_workshop }} a {{ schedule.end_workshop }}</span>
                        {% endfor %}
                    </div>

                    <a class="btn-card-default" href="{{ post.link }}">{{ i18n["generic.btn.readmore"] }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <!-- Caja de subcategorias -->
    {% if prms.viewSubcats and subcats | length %}
    <div class="col-12 col-md-6 col-lg-12 subcatBox">
        <p class="h4 fw-bold">{{ i18n["aside.subcats.title"] }}:</p>
        <div class="content scrollbar-primary">
            {% for subcat in subcats %}
            <a href="{{ function('get_category_link', subcat.cat_ID) }}" class="d-flex justify-content-between align-items-center item">
                <div>{{ subcat.name }}</div>
                <div>({{ subcat.category_count }})</div>
            </a>
            {% endfor %}
            <a href="{{ function('get_category_link', catParent.cat_ID) }}" class="d-block text-center item">
                <div>{{ i18n["aside.subcats.btn_see_all"] }}</div>
            </a>
        </div>
        <br>
    </div>
    {% endif %}
    
    <!-- Caja de articulos destacados -->
    {% if prms.viewGreatPosts and great_posts | length %}
    <div class="col-12 col-md-6 col-lg-12 greatPosts">
        <p class="h4 fw-bold">{{ i18n["aside.great_post.title"] }}:</p>
        {% for gpost in great_posts %}
        <a href="{{ gpost.link }}" class="item">
            <div><span class="img-thumb" style="background-image: url({{ gpost.thumbnail.src }})"></span></div>
            <div class="content">
                <b>{{ gpost.title }}</b>
                <p class="h8">{{ gpost.post_excerpt == "" ? gpost.post_content|excerpt(10) : gpost.post_excerpt }}</p>
            </div>
        </a>
        {% endfor %}
        <br>
    </div>
    {% endif %}
</aside>